.cont-p{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40vw;
}
.cont-button{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    padding: 1.5vw 4.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #474544;
    color: #F2F3EB;
  }
  ul{
    margin-top: 2vw;
    text-decoration: none;
    text-align: left;
    color: #F2F3EB;
  }
.cont-card{
    text-align: center;
    font-size: 90%;
    align-items: center;
    width: 30%;
    background-color: rgb(41, 41, 41);
    height: 16vw;
    border-radius:.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    box-shadow:0 0.2vw .5vw 0vw rgb(161, 161, 161);
    padding: 2vw;
}
p{
color: rgb(255, 216, 184);
letter-spacing: .1vw;

}